<nav class="navbar sticky-top navbar-dark bg-dark">
    <!-- Navbar content -->

    <nav class="nav navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 10px;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/worldcounter">World Counter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/countrycounter">County Based Counter</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/mylist">Show My List</a>
                </li>
            </ul>
        </div>
    </nav>
</nav>
<div class="container">
    <table style="width:50%">
        <tr>
            <th>Country</th>
            <th>Actions</th>
        </tr>
        <tbody>
            <tr *ngFor="let pro of country ">
                <td>
                   {{pro}}
                </td>
                <td>
                    <button id="remove" (click)="deleteRow(pro)">DELETE ROW</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>